Genomes/
genome_library/
Results/
Dictionaries/
VCFs/
*.pyc
Gencode/
Cache/
*nohup*
Annotations/
PAMs/*
samplesIDs/*
guides/
*.csv
*.pkl
*.txt
*.zip
PostProcess/dnaShape.pkl
PostProcess/design-guides/chr10.fa
PostProcess/design-guides/crisprme_test.tar.gz
PostProcess/design-guides/coordinates.bed
PostProcess/design-guides/output.py
PostProcess/design-guides/test.fa
PostProcess/design-guides/guides_out.summary.tsv
