/* body {
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: black
} */
.dropdown-menu{
    font-size : 1.5rem;
}
.dropdown-header{
    font-size: 1.25rem;
}

.btn-secondary{
    background-color: unset;
    border : none;
    font-size: 1.5rem;
}
.testHover:hover{
    background-color: #545b62;
    border-color: #4e555b;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

/* #checklist-advanced label:nth-child(1) {
    margin-left : 5px;
  } */
  

input:invalid{      
    outline:0px;
}

.modal-button{
    background-color: rgb(50,50,50)
}
/* #test .Select-control{
    border:1px solid red;
} */
.missing-input .Select-control{
    border: 1px solid red;
}

.result-page-guide-table .td:first-child{
    font-family: monospace;
    font-size: large;
}

/*Change page next prev of datatable to left*/
#general-profile-table .previous-next-container {
    float: inherit;
    padding:0;
}